[2014-04-24 21:35] mhalano opened #2 "Contribute to original projects"
May be you can send a patch to xboxdrv to add a service (or for Ubuntu package mainteiner) and do the same with jstest-gtk to give thema Joystick option in configuration center.

[2014-04-28 00:16] grenadecx opened #3 "Multiple Xbox 360 Wireless controllers"
Hello,

I'm not sure if how this is suppose to work, but when I connect multiple xbox 360 wireless controllers, only the first one seems to work. The other one seems to connect but the led goes dark and nothing happens to it and I can't seem to use that controller.

I remember that when I run xboxdrv manually then I could enter it so it can receive multiple controllers, how would I get this to wor

[2014-04-28 23:17] #3 closed, assigned to nobody

[2014-05-01 18:13] mhalano opened #4 "Systemd is coming"
I think you create and use /etc/init.d/xboxdrv instead /etc/init/xboxdrv.conf. This change is important because Ubunu will use Systemd instead Upstart and this change probably don't affect users.

[2014-05-02 15:10] raelgc opened #5 "Add notification on connect/disconnect"
Display connect/disconnect messages for each new gamepad attached/removed.

[2014-05-30 16:16] mhalano opened #8 "xpad problem"
The package "xpad" it is not related with "xpad" kernel module. The "xpad" package is a post-it notes application. I think mark this package as a conflict is a problem.

[2014-06-03 14:10] Insperatus opened #9 "loss of steam compatibility"
My controller stopped working with Steam games after installing this package. Purging the PPA (rael-gc/ubuntu-xboxdrv) and removing ubuntu-xboxdrv restored normal functionality.

While ubuntu-xboxdrv was installed, within the joystick configuration program, 4 controllers showed as present even with only one attached. I assume the issue with Steam is related to this.

[2014-06-07 19:03] #9 closed, assigned to nobody

[2014-06-07 19:04] #8 closed, assigned to nobody

[2014-06-22 20:14] tolgap opened #11 "Can't get PS3 dualshock controller working over USB/Bluetooth"
Hi Rael,

I've been having `xboxdrv` issues since I upgraded to 14.04. Once I start xboxdrv, I see the player 1 LED turn red on my DS3 controller, but after 3 seconds, all 4 player LEDs start blinking again.

My PC does not recognize the controller either, I use `jstest-gtk` to test it. It used to work on 13.04.

This is what happens when I do a fresh `xboxdrv` install:
- I do `sudo rm -f /dev/inp

[2014-06-24 18:58] #11 closed, assigned to nobody

[2014-06-25 08:21] tamulionis opened #12 "Controller doesn't connect"
Everything worked fine and then something happened. First device changed from Xbox Gamepad (userspace driver) #1 to Xbox 360 Wireless Receiver.
http://i.imgur.com/XdSwlVk.png
It shows this, even if receiver is disconnected.

[2014-06-25 17:29] #12 closed, assigned to nobody

[2014-06-25 23:20] JJTriesHisBest opened #13 "Issues when using both wired and wireless controllers"
Current set up: 1 Wired Xbox 360 remote & 2 Wireless Xbox 360 remote connected via official microsoft wireless receiver

What seems to be happening is the xbox wireless receiver is recognised as its own 4 axis 17 button device, and sometimes a controller is assigned to this ID. At the time of reporting this the wired remote is actually assigned to "Xbox wireless receiver", but it is consistently w

[2014-07-06 21:17] helios50 opened #15 "Triggers appear as buttons"
Hi,

I've just unstalled ubuntu_xboxdrv, but when I connect my wirless controller it looks like in the following screenshot. The triggers are mapped as buttons 6 and 7, however they should be analog axes obviously. Somewhat irritating. :/

![xbox](https://cloud.githubusercontent.com/assets/8083725/3489989/cdf91a22-0552-11e4-8475-be39d222b6e7.png)

[2014-07-06 21:34] #15 closed, assigned to nobody

[2014-07-08 15:25] hlarsen opened #16 "failure when removing package from system"
i was playing with xboxdrv a bit but decided to remove it, but i was getting the error below. it seems to be an issue with the /src/debian/prerm; i believe the check on line 22 is returning true even when xboxdrv is not running:

this can probably be solved by using 'grep "[x]boxdrv"' or 'grep "xboxdrv" | grep -v "grep"', but it would need to be tested. i just removed the check and it uninstalled

[2014-07-08 15:58] #16 closed, assigned to nobody

[2014-08-08 10:01] grenadecx opened #17 "Problems with mimic xpad"
I'm not sure what's going on here, but I have the mimic xpad settings on in /etc/default/xboxdrv but that doesn't seem to work at all.

I have a game made in SDL2 that uses the builtin gamecontroller api, which doesn't work with wireless xbox 360 controller unless I use mimic-xpad. However it doesn't look like it works when the service is running it. When I manually run:

sudo xboxdrv --dbus disab

[2014-09-16 06:59] Macil opened #18 "Re-mapping buttons is difficult"
On the properties->mapping page, it seems you're supposed to drag and drop the buttons to on top of other buttons to remap them. If you instead drop a button between another button in the list, it re-orders the list instead and gets confusing.

[2014-09-16 07:09] Macil opened #19 "Properties button opens two windows"
When I click Joysticks in System Settings, it opens a window with 4 items for each of /dev/input/js0-3 with refresh, properties, and close buttons. Each time I click properties, it opens two property windows at once for the same joystick. When I close the last properties window, it closes the joystick listing window too.

[2014-09-22 12:26] #18 closed, assigned to nobody

[2014-09-22 12:26] #19 closed, assigned to nobody

[2014-09-22 12:28] #17 closed, assigned to nobody

[2014-09-22 12:31] #13 closed, assigned to nobody

[2014-11-07 00:09] oppsig opened #21 "Binding controller to a certain input."
I have an xbox wired controller (also a wireless but havent testet it yet).
Everytime i remove my wired xbox controller and plug it in again it goes from js0 -> js1 -> js2 -> js3.
By then I have to do a "sudo restart xboxdrv" to get it started at js0 again, until i get to the profile i want.
Because after js3 the led's on the controller just starts blinking and then turns off.
It's kinda wierd, i

[2014-12-17 23:53] wazzubrad opened #23 "Segfault /lib/x86_64-linux-gnu/libusb-1.0.so.0"
[code]

[2015-01-04 21:23] robkorv opened #25 "doesn't uninstall when service isn't running"
I didn't had the service `xboxdrv` running, now when I try to uninstall it I get the following error:

[code]

The uninstaller seems to be expecting that the service is running and breaks because of it.

[2015-01-05 00:09] raelgc commented on #25
Hi @robkorv, thank you for reporting this issue!

Probably this is an error in the script that should detect if the service is running or not. Appears to be related to #24.

I'll fix this in the next hours.

Thank you!

[2015-01-05 12:10] raelgc commented on #25
I've published a fix. @robkorv can you check it, please?

[2015-01-09 13:00] Xzereus opened #26 "Cannot use xboxdrv"
Ubuntu 12.10, just installed latest xboxdrv, so it should be up to date.

When attempting the command sudo xboxdrv, I get the following:
[code]

I try rmmod xpad:
[code]

I try sudo xboxdrv --detach-kernel-driver:
[code]

[2015-01-09 13:10] raelgc commented on #26
If you installed the package `ubuntu-xboxdrv`, you don't need to start `xboxdrv`: a service is created and automatically started. Just plug/pair your controller.

If you want to use `xpad` module, remove this package completely: `sudo apt-get purge ubuntu-xboxdrv`.

[2015-01-09 13:10] #26 closed

[2015-01-31 01:29] jhenkens opened #27 "xboxdrv doesn't work while in daemon mode"
I'm not sure if this is relevant here or on the xboxdrv github directly, but I'm having issues getting it to work with an XBOX Wireless Receiver and a single controller. I intend to have multiple controllers down the line, hence the default of using the daemon mode sounds useful.

If xboxdrv is started with
` xboxdrv --daemon --silent --dbus disabled --force-feedback --trigger-as-button --detach-k

[2015-01-31 01:34] #27 closed

[2015-01-31 01:35] jhenkens commented on #27
Nevermind me - the default steam BPM mapping no longer worked, but it seems to be working fine actually.

[2015-03-12 17:02] ZeeCrazyAtheist opened #28 "Key binding problem"
I know xboxdrv isn't your program, but I am having a problem with my keys not binding right.
`couldn't convert 'XK_Super_L' to enum, not a member of X11Keysym`
Was wondering if you had any input, because this seems to be one of the things stopping the service from starting

[2015-03-12 17:08] ZeeCrazyAtheist commented on #28
er

[code]

[2015-03-12 18:17] ZeeCrazyAtheist opened #29 "Bad Lexical Cast?"
bad lexical cast: source type value could not be interpreted as target

What is this and how do I fix it :frowning:

[2015-03-12 23:22] ZeeCrazyAtheist commented on #29
root@e-code:/home/ken/.xbox-configs/configs# cat *.xboxdrv
# Supports the default controls in the way I thought was logical.
#
# A is jump
# B is sneak
# X is drop
# Y is chat
# Scroll with the DPAD
# RT is left click
# LT is right click
# Left joystick is WASD
# Right joystick is Mouse

[xboxdrv]
ui-clear = true
trigger-as-button = true
silent = true
force-feedback = true

[ui-axismap]
x1=KEY_A:K

[2015-03-12 23:23] ZeeCrazyAtheist commented on #29
root@e-code:/home/ken/.xbox-configs/configs# cat *.xboxdrv
[code]

[2015-03-12 23:38] raelgc commented on #29
@ZeeCrazyAtheist If you try without this config file, it works fine?

[2015-03-12 23:38] #28 closed

[2015-03-12 23:44] ZeeCrazyAtheist commented on #29
well this is 5 config files put together, The comments are the start of each file but yeah i'll try with out

[2015-03-12 23:47] ZeeCrazyAtheist commented on #29
ok that works it, but it seemed like a little script I had for starting up a tmux session of the regular program wouldn't start

[2015-03-12 23:47] ZeeCrazyAtheist commented on #29
Also, dunno how I'm supposed to add the configs back in now if its started

[2015-03-13 00:32] raelgc commented on #29
You can edit `/etc/default/xboxdrv` and add options to `XBOXDRV_OPTIONS`.

[2015-03-13 02:14] ZeeCrazyAtheist commented on #29
yes, removing them from the options is what fixed it :frowning:

[2015-03-13 02:25] ZeeCrazyAtheist commented on #29
Ok I found out force-feedback doesn't like to be put in config files

[2015-03-16 22:37] gyates100895 opened #30 "Multiple controllers using match rules"
I have a proposal I am willing to develop further if there is any desire(seriously, at all). Maybe modifying the default script to have a multiple controller matching rule trigger the likes of "trigger as button" followed by an editable code block for the rules. Right now im envisioning one for each controller slot. The init script would then parse this into something like CONTROLLER MATCHx and ca

[2015-03-16 22:59] raelgc commented on #30
@gyates100895 Sounds good!

Please, create a pull-request with your modified script :)

[2015-03-19 02:21] #30 closed

[2015-03-19 16:08] gyates100895 opened #32 "Multiple connected controllers support"
I plan on working in support for multiple controllers. I feel that there was some intention at this projects inception.The current idea is to call more instances with the same options for each. This is because my setup is this: ubuntu-xboxdrv collects the options, and calls xboxdrv. xboxdrv consists of four controller slots with their own match rules (i have rockband instruments connected along wi

[2015-03-19 16:16] raelgc commented on #32
This is an awesome plan!

Just out of curiosity: in which game are you using your instruments?

[2015-03-19 16:28] gyates100895 commented on #32
fofix only right now. for the rb1 guitar i dont use any mappings, i feel it makes more sense to have fofix read controller events over mapped keys, im sure theres a logical reason but i dont feel like developing that thought further at the moment lol

[2015-03-20 14:55] gyates100895 commented on #32
did a lot of research on upstart and dbus over yesterday and last night. current plans are only with upstart.

[2015-03-20 16:13] raelgc commented on #32
@gyates100895 I'm fine with that. Let me create a branch for it. Can I call it `15.04`?

[2015-03-20 16:32] gyates100895 commented on #32
Whatever you feel is right man. Just help me get to it to edit if its different than how I did it before lol. If I havent mentioned this before, Im new to participating and am rather ignorant for now. I know how to fix problems but not how to properly publicize them. Which would be ideal, you know, with rapid progress, adding features, fixing problems n shit lol

[2015-03-20 16:57] gyates100895 commented on #32
What would be a proper way to ask you about specific lines of code? I would like to both comment and possibly rearrange the settings that have true\false values. For example, better differentiate driver options that affect how xboxdrv presents itself to the system vs options that only affect the internal that can be passed via the options field. Really I am trying to clear up the default file whil

[2015-03-20 17:22] raelgc commented on #32
@gyates100895 I think the usual fork/pull-request process is fine. Then I'll see how to handle the pull-request to get it in a branch instead of master.

What the average user wants? Just plug a gamepad and get it working, if possibel with a GUI to setup/enable-disable some options :D

[2015-03-20 17:25] gyates100895 commented on #32
lol I can only do basic python guis qnd honestly prefer this method for its versatility xP but okay thats what ill do then.

[2015-03-20 17:27] gyates100895 commented on #32
maybe while im working on this, you could talk to some people and help address this https://github.com/Grumbel/xboxdrv/issues/35 ?

[2015-03-20 17:37] raelgc commented on #32
@gyates100895 I was just kidding about the GUI. And, the "Unix way of life" will be, first, get all the config and services files proper working, and then a GUI just editing/generating some custom config.

I.e., proper service and configs are the most important now :)

[2015-03-21 02:39] gyates100895 commented on #32
i just got a backbone example working. its on the branch "Develop-multiple-instances-1" if you want to have a look and get an idea where im going.

[2015-03-21 11:52] raelgc commented on #32
For sure I'll take a look! Thanks for sharing @gyates100895 :)

[2015-03-26 16:24] gyates100895 commented on #32
I believe this is working, however not absolutely perfect. the added feature works like a charm with 3 controllers, 2 of which are rb instruments. occasional parent service restart required. check out my fork to see if youd like to pull it in :)

[2015-03-26 16:24] #32 closed

[2015-03-27 02:54] gyates100895 commented on #32
working despite timing bugs, patience and the occasional parent restart should have you set

[2015-04-18 16:36] mhalano commented on #4
Vivid will use Systemd by default, so I think we need hurry up about this issue.

[2015-04-19 00:36] gyates100895 commented on #4
Challenge accepted. Legit I will work on this. But I'm going to work on it from the perspective of my PR. Check out that and my fork, namely develop-multiple-instances-[x] to see where I'm currently at.

[2015-04-20 18:19] gyates100895 commented on #4
I anticipate having a first version by the end of the week. Spread that around for feedback and I'll keep this thread posted on where the work is. Maybe by the end of the next week a clean and stable version could be finished ;)

[2015-04-20 19:40] gyates100895 commented on #4
@raelgc I believe I correctly added you to my fork for modifications. But to pick your brain on this subject, first is there any better way to catch USB events other than udev? And second, is it within your capacity to look into a USB property characteristic to only xboxdrv's defaultly capable controllers that I could match in a udev rule? In theory this will narrow the number if times a test for

[2015-04-22 00:07] gyates100895 commented on #4
Just switched my work machine to systemd only. Going to tweak until it works the same as the upstart version I've posted. Is anyone opposed to using an xboxdrv configuration file as a sentinal for if a controller process should be launched? Feels like a better idea than building a file in /run to store a string that has potential to never be used by some users. Not trying to spam but at the same t

[2015-04-22 00:18] mhalano commented on #4
Please explian better thye part "using an xboxdrv configuration file as a
sentinal for if a controller process should be launched"

Best regards.

2015-04-21 21:07 GMT-03:00 gyates100895 <notifications@github.com>:

--
Marcos Alano
----------------------------------------------
P: Por que este email é tão curto?
R: http://five.sentenc.es
----------------------------------------------

[2015-04-22 02:03] gyates100895 commented on #4
Xboxdrv can use configuration files. I am proposing that the user creates a config file for each type of controller they have and place it in a directory that a service will read. Each file will be named the unique product:vendor IDs of a controller. The service will then test against these names each time a controller is connected and if the controller that was just connected has a configuration,

[2015-04-22 11:21] mhalano commented on #4
@gyates100895 Good idea, I guess. But I think some times the user want different configs for two equal controllers (let's say Xbox 360 Wireless Controller).

[2015-04-22 12:44] gyates100895 commented on #4
@mhalano I believe xboxdrv's config slots option could handle that. Create two configs inside the same controller config file seperated by a "next-config = true" and use the toggle button to access it on the second controller. That would work, but would be harder to use the USB of the controller to match against the event

[2015-04-23 13:31] gyates100895 commented on #4
@mhalano another idea,  have a directory /etc/xboxdrv. In there there could be a config file for xboxdrv named the vendor:product of a controller. This file would be used to start an instance of the xboxdrv daemon. The daemon would then set up controller slots for the number of that type of controller you have. For each slot, you use another config file to define it, possibly with multiple slots.

[2015-04-23 18:20] mhalano commented on #4
@gyates100895 I think so. A mix is the best option. I think this changes on config system and systemd support is the top priorities. And may be can you create a PPA for Ubuntu since @raelgc already do that? I love PPAs because can keep my system clean and you can create various repositories for testing code, stable code, etc.

[2015-04-24 05:50] gyates100895 commented on #4
@mhalano I've created a repository at https://github.com/gyates100895/systemd-xboxdrv if you would like to check that out. its very rudimentary but passes the boot test, hotplug test, and properly loads configs. I'm sure there's plenty of bugs, but with some time and exposure I see it becoming much better. definitely not PPA quality yet xD

@raelgc I believe I added you as a contributer to the pro

[2015-04-24 18:42] mhalano commented on #4
@gyates100895 If you think is not PPA ready, the best solution is... Create a PPA! For real, you can create a repo called 'daily' or 'testing' without a good code, but with a package integrated with the system. Just a GitHub repository with a bunch of files is hard to copy to correct places to test, etc. A package permits a clean process of install->test->report bug->fix-relase fix->update system.

[2015-05-10 00:27] extraymond opened #38 "Systemd support"
Since ubuntu transit from upstart to systemd, the package in ppa is no longer working.
It would be nice to still enjoy ubuntu_xboxdrv in the latest ubuntu!

[2015-05-17 15:26] melo0187 opened #39 "Latest package is broken for Ubuntu 15.04"
Hey there!

I was not sure whether this is related to the issues about Systemd or not, so I am submitting a new issue. Feel free to mark it as duplicate...

Since updating to Ubuntu 15.04 I am not able to install ubuntu-xboxdrv anymore.
I get this error:
[code]
Please let me know if I can provide anything else to help solve this. I am a big fan of ubuntu-xboxdrv and it has become essential for my

[2015-05-18 07:36] melo0187 commented on #39
I just found a post on the Ubuntu forums with someone pointing out how he managed to get it to run:
http://ubuntuforums.org/showthread.php?t=2275219&p=13284158#post13284158

He got got it working by creating a new file /etc/systemd/system/xboxdrv.service:
[code]

He claims that with that file in place he can start the service by using

    sudo systemctl start xboxdrv.service

[2015-05-18 08:16] melo0187 commented on #4
Are there any updates about this? Is this effort still ongoing? There are 2 further issues related to this (#38 and #39)

From what I understood by this conversation and @gyates100895's fork it seems like this is becoming a much bigger deal than just making this run with systemd. Is the part with the udev-rules and the new configuration style really necessary?
Imho the configuration method propose

[2015-05-18 12:02] raelgc commented on #4
I'll work in a simple port for systemd. Appreciate any help.

[2015-05-18 12:05] raelgc commented on #39
Well, what we need is basically port the `/etc/init/xboxdrv.conf` file to systemd.

The above file appears to works (I didn't test it), but only for one joystick.

[2015-05-18 12:30] melo0187 commented on #39
Let me know how I can help. I have a system running Ubuntu 15.04 and a wireless receiver with one XBox 360 Wireless Controller and I should be able to borrow a second wireless and another cable version of the XBox controller and I am willing to help and test things.

[2015-05-18 15:55] melo0187 commented on #39
@raelgc Just out of ignorance, one question: Could the following idea work?

Simply cut remove line where you call the xboxdrv command from xboxdrv.conf and reformat the rest of the file to be an executable script with the purpose to build the $XBOXDRV_OPTIONS, $PAD_OPTIONS, $CONTROLLER[0-3]_OPTIONS arguments.
The pre-start part of the old script would also be removed and supplied as ExecStartPre,

[2015-05-18 17:23] melo0187 commented on #39
Ok, I just went ahead and tried it and I managed to got my wirless controller working.

Here is what I did.
Created /etc/systemd/system/xboxdrv.service:
[code]
Created /usr/lib/ubuntu-xboxdrv/argbuilder.sh and made it executable:
[code]
I then went ahead and installed from your ppa with ```sudo apt-get install ubuntu-xboxdrv```
Only thing not working is run on startup. I don't know how to configur

[2015-05-18 18:28] mainmachine commented on #39
@melo0187 - according systemd folks, it's not  a good idea to take existing bash scripts (which works in upstart) and run them as is with systemd. The way quotes are handled is different with systemd, and there are probably other differences which can break things or make them buggy.

[2015-05-18 19:14] mainmachine commented on #39
I have a working port to systemd, but I could use some more testing. I've forked the project just to make it easier to submit pull requests: https://github.com/mainmachine/ubuntu_xboxdrv

I hope it's not bad form to link like that - I'm new to github, so please forgive me! :D

[2015-05-18 19:25] raelgc commented on #39
@mainmachine This is exactly how you should do: create a fork then submit a Pull Request :)

[2015-05-18 19:34] mainmachine commented on #39
Awesome. :)

[2015-05-19 09:28] melo0187 commented on #39
@mainmachine That is very good to know, thank you for your feedback! I will have a look at your fork both to learn a little more about systemd and to test your approach. Do I just get your xboxdrv.service, xboxdrv-pre and uxvars on my system before I install from the PPA or is their another way to test?

[2015-05-19 15:41] mainmachine commented on #39
@melo0187 Yes, we took basically the same approach, the key difference I learned regarding Upstart > systemd migration is that systemd is a little more rigid in terms of structure. With Upstart your startup script can just have shell script, whereas with systemd the *.service file is very limited syntax. You can call scripts to prepare for the service itself to launch, gather variables, build argu

[2015-05-19 17:51] melo0187 commented on #39
@mainmachine ah, now I get. That is good to know and makes sense to me. Thanks for clarifying =)

[2015-05-20 11:29] mainmachine commented on #39
@melo0187 I don't know if you've seen these, but this is where I learned enough to get this working, and both are helpful:

https://wiki.ubuntu.com/SystemdForUpstartUsers#Example_Services

http://patrakov.blogspot.com/2011/01/writing-systemd-service-files.html

[2015-05-20 11:54] melo0187 commented on #39
@mainmachine Thanks for providing the resources =) The second link is new to me.

Based on the first resource on the Ubuntu wiki I was wondering if the correct syntax to access variables from your environment file in the ExecStart line was ${varname} instead of $varname. You used the latter in your .service file.

[2015-05-20 12:27] #29 closed

[2015-05-20 12:34] raelgc commented on #4
Superseded by #39

[2015-05-20 12:34] #4 closed

[2015-05-20 12:34] raelgc commented on #38
Superseded by #39

[2015-05-20 12:34] #38 closed

[2015-05-20 12:45] raelgc commented on #39
Package for vivid uploaded to the PPA. SystemD version is now the current branch. The previous (upstart) was archived in a released version.

Please, update and upgrade. Let us know the issues.

[2015-05-20 13:04] mhalano commented on #39
I Have the same bug. Please see the log:
root@GLaDOS:~# dpkg -i /home/marcos/Downloads/ubuntu-xboxdrv_20150520-1_all.deb
(Lendo banco de dados ... 217975 ficheiros e directórios actualmente instalados.)
A preparar para desempacotar .../ubuntu-xboxdrv_20150520-1_all.deb ...
stop: Não foi possível conectar ao Upstart: Failed to connect to socket /com/ubuntu/upstart: Conexão recusada
A descompactar u

[2015-05-20 13:22] mainmachine commented on #39
@melo0187 Just a guess, but that example uses a variable defined in an "Environment=" call, rather than an "EnvironmentFile=" call, so maybe that makes the difference? Either way it is working as is, so I can't speak to why the Ubuntu wiki page uses that syntax. The second link I posted shows an example near the end of the post that uses no brackets, and is sourcing vars from an EnvironmentFile ca

[2015-05-20 14:01] mainmachine commented on #39
@raelgc I've purged ubuntu-xboxdrv, removed your ppa then re-added it, then apt-get update && apt-get install ubuntu-xboxdrv and I am seeing the same thing.

The new systemd components aren't getting installed...?

[2015-05-20 14:08] raelgc commented on #39
The package for Vivid was published 1 hour ago, as you can see in the
Launchpad: https://launchpad.net/~rael-gc/+archive/ubuntu/ubuntu-xboxdrv

On Wed, May 20, 2015 at 11:01 AM, David Martinka <notifications@github.com>
wrote:

[2015-05-20 14:12] mhalano commented on #39
@raelgc I downloaded and inspect the package and can't find Systemd related
files. :/

[2015-05-20 14:22] raelgc commented on #39
@mhalano Thank you for inspect the package and report. I checked now and the PR missed to correct the file list in `/debian/install`. I'll fix it and publish again.

[2015-05-20 14:47] mainmachine commented on #39
@raelgc Thanks for moving this forward quickly! I know we all have work to do besides this. :)

[2015-05-20 22:51] mhalano commented on #39
@raelgc Did you see? The latest package can't finish compilation with the
error:

cp: cannot stat 'debian/tmp/src/lib/systemd/system/xboxdrv.service':
No such file or directory
dh_install: cp -a debian/tmp/src/lib/systemd/system/xboxdrv.service
debian/ubuntu-xboxdrv/src/lib/systemd/system/ returned exit code 1
debian/rules:7: recipe for target 'binary' failed

2015-05-20 11:47 GMT-03:00 David Mart

[2015-05-21 00:21] raelgc commented on #39
@mhalano Yeap, already locally fixed. Tomorrow I'll try again with the fixes. Anyway, thanks for sharing this. Any useful info is always appreciated! :)

[2015-05-21 11:32] raelgc commented on #39
Just uploaded. Let me know if it works.

[2015-05-21 11:44] mhalano commented on #39
@raelgc I found a bug and a workaround. You need grant execute permission
for the file: /usr/share/ubuntu-xboxdrv/xboxdrv-pre. After that the Systemd
integration works.

2015-05-21 8:32 GMT-03:00 Rael Gugelmin Cunha <notifications@github.com>:

--
Marcos Alano
----------------------------------------------
P: Por que este email é tão curto?
R: http://five.sentenc.es
-------------------------------

[2015-05-21 11:49] mhalano opened #41 "Bad configuration file"
I think the configuration file /usr/share/ubuntu-xboxdrv/uxvars is in a bad place (should be put on /etc) and with a bad name. May be you can keep the old path, /etc/default/xboxdrv.

[2015-05-21 12:00] raelgc commented on #41
@mainmachine Can you help here?

[2015-05-21 12:05] raelgc commented on #41
@mhalano But the `/etc/default/xboxdrv` is still present.

[2015-05-21 12:15] #41 closed

[2015-05-21 12:15] mhalano commented on #41
@raelgc Oh my mistake. The pre-script uses /etc/default/xboxdrv to change
uxvars. I think is not so elegant, but "just work"
 in this way.

2015-05-21 9:05 GMT-03:00 Rael Gugelmin Cunha <notifications@github.com>:

--
Marcos Alano
----------------------------------------------
P: Por que este email é tão curto?
R: http://five.sentenc.es
----------------------------------------------

[2015-05-21 13:49] mainmachine commented on #39
@mhalano Yes, that seems to be the only bug ATM.

@raelgc Is there anything I can do to help, or is this just an issue of packaging?

[2015-05-21 14:34] raelgc commented on #39
I've added the `x` permission to the file and uploaded again. Please, re-test :)

[2015-05-21 15:04] mhalano commented on #39
@raelgc Still didn't work. :(

2015-05-21 11:34 GMT-03:00 Rael Gugelmin Cunha <notifications@github.com>:

--
Marcos Alano
----------------------------------------------
P: Por que este email é tão curto?
R: http://five.sentenc.es
----------------------------------------------

[2015-05-21 15:14] mainmachine commented on #39
confirmed. Is there a way to script a chmod +x during package install?

[2015-05-21 15:28] mhalano commented on #39
I think you need to change the .orig.tar.gz file.

2015-05-21 12:14 GMT-03:00 David Martinka <notifications@github.com>:

--
Marcos Alano
----------------------------------------------
P: Por que este email é tão curto?
R: http://five.sentenc.es
----------------------------------------------

[2015-05-22 07:39] melo0187 commented on #39
I just installed from the ppa which states the latest build is 19 hours ago. It was still required to chmod +x the xboxdrv-pre.

There is also another bug in the xboxdrv.service file. There is a missing space before the last --next-controller argument, which causes only 3 instead of 4 js devices to be created.

[2015-05-22 08:27] melo0187 commented on #39
One last thing. For the driver to be started on boot I need to do the following:
```sudo systemctl enable xboxdrv.service```

[2015-05-22 11:46] raelgc commented on #39
New package with fixes uploaded.

[2015-05-22 12:22] mainmachine commented on #39
@melo0187 Good bug hunting! Updated my fork to reflect the controller space typo.

@raelgc Would it have helped if I included a script to make these changes during install of the package, or is that handled during packaging in some different way?

[2015-05-22 13:44] mhalano commented on #39
@mainmachine I think we need to change the source tar.gz in the most of the cases and avoid scripts related changes. Normally if you don't have access to change the source so easily, we need to create post-install scripts, etc. but in this particular project we can change the source.

[2015-05-22 14:18] raelgc commented on #39
@mainmachine Like said by @mhalano, usually a `.deb` package respect the file attributes.

But, in the case you need to change anything, you can use the `postinst` script in the `debian` folder.

For now, I changed the file attribute in the package, so it should be working.

[2015-05-22 16:31] mainmachine commented on #39
Confirmed - all is working correctly after an aptitude purge and install. :D

[2015-05-22 17:32] raelgc commented on #39
Thanks to all of you guys, specially @mainmachine for the PR, @melo0187 to draft the code in comments and @mhalano to debug and point the issues in the package.

[2015-05-27 09:46] melo0187 commented on #39
@raelgc @mainmachine @mhalano It really changes my perspective on the world every time I get in touch with people on GitHub. Everyone is so friendly and willing to help. It was my pleasure to help out to fix this with all these amazing people. Keep up the good work and stay great =)

[2015-05-27 09:46] #39 closed

[2015-05-28 13:42] gyates100895 commented on #4
@melo0187 the patch that @raelgc pulled is a lot better. Kudos to who got it done, for I have had family issues come up and their approach is much cleaner. To comment though, you are right, my approach is more round about. I was looking for a way to match entire configurations to one controller, and not just xboxdrv's slot settings. If possible, I would like to take the latest version and redevelo

[2015-06-12 05:14] societyblind opened #42 "Software trigger to shut off controller(s)"
This will help save battery instead of waiting the 15 minute timeout.
I can use this program to do this in windows
http://sourceforge.net/projects/turnoffxboxcontroller/

[2015-06-15 18:01] mainmachine commented on #42
I think the challenge might be: where do you add this? You would want to cover as many desktop environments as possible. I am a big fan of the cinnamon desktop, and I know that compatibility between Gnome 3 and Cinnamon applets is OK at best.

I do know that if you stop the xboxdrv service, the gamepads turn off immediately...

So we would basically need an applet with a button to stop the xboxdrv

[2015-06-16 19:52] societyblind commented on #42
Actually I wouldn't mind a command at all and I guess shutting off the service works,  but then you would have to manually activate it again before being able to reconnect the controller.  Perhaps I will try a script that turns off the driver and restarts it a few seconds later in a launcher for now.  Doesn't turning the service on/off require root/sudo?

[2015-06-16 20:00] mainmachine commented on #42
hmmm.... this might achieve both in one command:

sudo service xboxdrv restart

I can test it later today, but if someone can confirm that it turns off the gamepad, that would be nice! :)

[2015-06-17 02:06] mainmachine commented on #42
OK, so the above command to restart the xboxdrv service does indeed also cause the wireless xbox360 gamepad to power off. :)

Now we just need a fancy button somewhere, or to trigger the restart by a long press of the big green super button. Anyone?

[2015-06-17 02:25] societyblind commented on #42
Tried it.  Stopping the xboxdrv service seems to turn off the xbox controller but I think it just turns off the LED.  As soon as the service is restarted the controller reconnects.  I can't say for sure if it's really off or not.  restarting the service just causes my controller to reconnect.,

[2015-06-17 13:32] mainmachine commented on #42
hmmm... I really don't know of any way to test how "off" the controller is other than measure the current passing through the battery...

I know how to do this, but it would take some kludging.

In the meantime, if anybody knows of a way to test the power draw of a controller in this scenario, it could save some time and effort...

What happens when you turn off your Xbox console? Does the control

[2015-09-17 18:24] mystrdat opened #44 "TRIGGER_AS_BUTTON default issue with START/SELECT buttons"
`TRIGGER_AS_BUTTON =  true` seems to be the worse default choice, because it disables `START` and `SELECT` buttons from working altogether in most games I tried (Mark of the Ninja, Bit Trip Runner 2 as example). If the triggers are used as a throttle, this is fixed. I would suggest changing the default setting to `false`.

[2015-09-17 18:54] raelgc commented on #44
Hi @mystrdat, thanks for reporting this issue.

@sergiobenrocha2, @gyates100895, @mainmachine, @mhalano any thoughts about this?

[2015-09-17 18:57] mhalano commented on #44
I think is a question which changes for each game, but  for I think set to false could be a good idea. We just need to test with Steam if triggers is correctly recognized.

[2015-09-21 13:05] melo0187 commented on #44
Do you guys need any help testing this? I will be home on Wednesday, have a XBox 360 Wireless controller, Steam installed and always use the driver with `TRIGGER_AS_BUTTON = false`.

[2015-09-21 13:11] raelgc commented on #44
@melo0187 Would be awesome if you can double check this on Steam :)

[2015-09-21 13:27] melo0187 commented on #44
@raelgc will do and report back on Wednesday =)

[2015-09-21 15:54] mainmachine commented on #44
Since we know the behavior might be different with different games, might it make sense to start a list of games and their behavior with the trigger variable set to both cases?

We'll need to test Steam Big Picture mode as well... IIRC that works just fine with default settings (i.e. trigger=false).

[2015-09-21 15:58] filipnaumovic commented on #44
@mainmachine I believe the default is `true`, which is issue.

[2015-09-21 16:54] mainmachine commented on #44
Sorry, good point - that's what I meant, of course. The default works for Big Picture last I checked. I won't be in a position to verify until this weekend, but if someone else can check this before then...?

[2015-09-21 17:05] mhalano commented on #44
I can‘t do this. I having some troubles with xboxdrv and xpad because i
updated to linux 4.2.
Em 21/09/2015 13:54, "David Martinka" <notifications@github.com> escreveu:

[2015-09-23 13:20] melo0187 commented on #44
So finally catching a break from work today.

I started Steam BPM a moment ago just to notice that they changed the UI a bit and you can't assign buttons for your controller anymore. However I have a few games I could test for you guys. Any preferences? Here is the list of games I could test (if diskspace allows it...):
http://steamcommunity.com/id/melo0187/games/?tab=all

Just let me know which o

[2015-09-23 17:32] mainmachine commented on #44
@mhalano - nice collection. :)

I would say any of the platformers should be higher priority. Mark of the Ninja, Trine, etc.

[2015-09-24 07:41] melo0187 commented on #44
@mainmachine you got the wrong guy in the mention, so I did not see your input and went ahead and tried Middle-Earth: Shadow of Mordor, because that is the most talked Linux port atm I guess. `TRIGGER_AS_BUTTON = false` does work. You can both enter stealth (RT) and enter focus for bow shots (LT).

On another note: The D-Pad does not work, but if I can find out some more about that, it might be wo

[2015-09-24 17:23] mainmachine commented on #44
@mhalano - sorry, I guess I haven't been getting as much sleep as I should. :/

@melo0187 - nice collection. :)

[2015-09-28 09:19] melo0187 commented on #44
Finally reporting back... sorry guys, got hooked on Middle-Earth: Shadow of Mordor ^^

Instead of checking with more games if `TRIGGER_AS_BUTTON = false` is a good idea (it is working in Steam BPM and Middle-Earth: Shadow of Mordor), I hunted down the issue with the d-pad not working.

I did not find a way to have a working d-pad in both Steam PBM and Middle-Earth: Shadow of Mordor when using `MIM

[2015-09-28 10:59] melo0187 commented on #44
Trine Enchanted Edition is working just fine with `TRIGGER_AS_BUTTON=false`
Next up: Mark of the Ninja

[2015-09-28 12:12] melo0187 commented on #44
The configuration I posted 2 comments up is not working at all for Mark of the Ninja. Apparently the game does not  behave the same as Steam in BPM.

I reverted the configuration file to its original state and changed only `TRIGGER_AS_BUTTON` from true to false. Mark of the Ninja does work without any problems that way.

But it is a shame that Steam BPM and some games that don't get their controll

[2015-09-28 12:21] raelgc commented on #44
So, if I correctly understood:

- `TRIGGER_AS_BUTTON = true`: it disables <kbd>START</kbd> and <kbd>SELECT</kbd> in some games;
- `TRIGGER_AS_BUTTON = false`: it disables <kbd>d-pad</kbd> in some games.

[2015-09-28 13:55] melo0187 commented on #44
@raelgc I am afraid it is way more messed up than that.

What I was able to see is that `TRIGGER_AS_BUTTON` did not make a difference for the d-pad, but `MIMIC_XPAD`does, at least for Steam and games that behave like Steam.

With `MIMIC_XPAD=true` the d-pad is not working in Steam BPM and therefor not working in games that rely on the Steam runtime for the controller setup afaik.

So the initial c

[2015-09-28 15:21] raelgc commented on #44
Thanks for clarify this, @melo0187.

So, maybe, we should focus in a default configuration friendly to Steam... what do you guys think?

[2015-09-29 13:53] mhalano commented on #44
I think the Steam is the major game platform for Linux so support to Steam
is mandatory. I think the option "mimic_xpad" set to true can make the
things work fine.

2015-09-28 12:21 GMT-03:00 Rael Gugelmin Cunha <notifications@github.com>:

--
Marcos Alano
----------------------------------------------
P: Por que este email é tão curto?
R: http://five.sentenc.es
-----------------------------------

[2015-09-29 14:35] melo0187 commented on #44
@mhalano but what about the d-pad issue then? I was not able to get the d-pad working with `MIMIC_XPAD=true`.

[2015-09-29 14:40] mhalano commented on #44
@melo0187 Did you tested in jstest-gtk?

[2015-09-29 17:47] melo0187 commented on #44
@mhalano I used the Joystick app (that is what it is called in the dash and it might be jstest-gtk?), but it is not worth much since what I saw there did behave very different from what Steam does with the controller.

[2015-09-29 17:55] mhalano commented on #44
@melo0187 I did some tests and with "mimic_xpad" set to false the joystick is recognized better by the jstest-gtk application. The problem is: with option set to false the joystick is unconfigurable via Big Picture mode.

[2015-09-30 11:39] melo0187 commented on #44
@mhalano what exactly do you mean with "the joystick is unconfigurable via Big Picture mode"?

That you can not properly use the gamepad in Steam BPM?

Or that you can't remap the buttons, axis and triggers of your gamepad withing the Steam BPM user interface?

The latter is because of a Steam update and is not related to the use of `MIMIC_XPAD=false` in my opinion.

[2015-09-30 14:24] mhalano commented on #44
@melo0187 Joystick works, but I can't remap. I think this is important for user experience. for sure isn't related to MIMIC_XPAD=false, but again, damages the user experience. There's a way to show again configuration in BPM or we should open a bug report?

[2015-09-30 17:54] melo0187 commented on #44
@mhalano i have not found a way to reach the old gamepad configuration screen in Steam BPM. Feel free to open up an issue over at Valve. I will make sure to +1 it, since I too think that dropping the gamepad configuration screen in Steam BPM is a step backwards.

[2015-09-30 18:34] mhalano commented on #44
I created the bug https://github.com/ValveSoftware/steam-for-linux/issues/4044 so please post a note or fix and missing informations.

[2015-10-13 16:56] dlemper opened #45 "Space missing in systemd service config"
Hi,
thanks for your work to get systemd integration for xboxdrv!
I've builded a package on my debian steam machine and just saw a bug in the systemd service configuration in lib/systemd/system/xboxdrv line 10:

    $CONTROLLER2_OPTIONS--next-controller

should be

    $CONTROLLER2_OPTIONS --next-controller

[2015-10-13 17:32] raelgc commented on #45
Hi @dlemper, thank you for reporting this issue.

Can you, please, try to edit the file with this change? This will ask you if you want to create a Pull Request (so, say yes).

[2015-10-14 09:38] dlemper commented on #45
Hi @raelgc,

I created the mentioned pull request and also 2 more.
The other pull requests are about XBMC keymapping. It's up to you, if you want to pull them ;-)

Thanks again for your work!

[2015-10-14 09:38] #45 closed

[2015-10-14 11:59] raelgc commented on #45
Thank you @dlemper for all the PRs!

[2015-10-26 00:56] mhalano opened #49 "Wily's PPA"
Rael,
When will be released support for Ubuntu 15.10 in the PPA?

Cheers.

[2015-10-26 11:16] raelgc commented on #49
Done! (Building now)

Thanks @mhalano for the reminder!

[2015-10-26 11:16] #49 closed

[2015-11-21 09:27] uncolober commented on #26
I had the same problem and turns out I had an utility called **ubuntu-xboxdrv** installed alongside the normal xboxdrv, which was the source of the problem. I _completely removed **ubuntu-xboxdrv** and reinstalled xboxdrv_ and that solved the problem.

(I also didn't even have xpad installed, and of course xboxdrv --detach-kernel-driver did nothing.)

[2015-12-13 19:30] jreckner opened #50 "Issues with Xbox 360 USB Controller and D-Pad"
I have been very successful in getting the xbox360 controller to work in Linux.
Once I set `TRIGGER_AS_BUTTON=false` I had no issues with any buttons, sticks or dpad in Kodi/XMBC

However, once I fire up Steam in Big Picture mode, I lose the dpad competely. but only the dpad.

jstest-gtk shows everything working. So I assume its something wrong with Steam itself.

However, I was able to made the d

[2015-12-13 19:57] raelgc commented on #50
Hi @jreckner, thanks for digging on this!

We're just using the `mimic_xpad` as `true`.

Can you open a pull request with all these edits? So I can update the package.

[2015-12-15 00:48] jreckner commented on #50
I never quite got it working, the dpad worked but all other mappings were missing.

I think to properly get everything working I would need to create a mapping for all Xbox360 Controller buttons and axis to intercept all the mappings supplied by `mimic_xpad` as `true`. It would be easier if there was a way to generate a config equal to the mimic_xpad config and then simply alter the dpad buttons.

[2016-01-01 22:31] geekycow commented on #50
Same here.  I could get everything working except for the dpad under steam after setting mimic_xpad to true and trigger_as_button to false.

Curiously, the mappings under the Joystick settings app are correctly, and if I run sudo xboxdrv via the command line with these options and set the device name to "Xbox 360 Wireless Controller (XBOX)" (exactly the name given by xpad) then it works under Stea

[2016-01-01 22:32] geekycow opened #51 "Missing space in /etc/init.d/xboxdrv"
Hiya

There appears to be a missing space in /etc/init.d/xboxdrv on the xboxdrv line after one of the variables.

[2016-01-01 22:47] geekycow opened #52 "Can't use quotes or spaces correctly in /etc/default/xboxdrv"
Hiya  :)

I was trying to add the option --device-name="Xbox 360 Wireless Receiver (XBOX)" to the options in /etc/default/xboxdrv in order to get xboxdrv to properly emulate xpad device names but came across an issue whereby it doesn't seem to be possible to give commands with spaces or quotes in the arguments in any of the options in this file.  All attempts to use normal bash style escaping fail

[2016-01-04 15:49] raelgc commented on #51
Hi @geekycow and thanks for reporting this issue.

Is this same as #45? Maybe I forgot to publish the fix in PPA.

[2016-01-04 15:51] geekycow commented on #51
Ha, yes, so already reported.  Sorry.  Yes, same bug, so it looks like you did forget to publish the fix.  :)

[2016-01-04 16:27] raelgc commented on #51
@geekycow I'm checking here and this fix appears to got deployed in Oct, 26 for Willy and Vivid. Can you double check it, please? https://launchpad.net/~rael-gc/+archive/ubuntu/ubuntu-xboxdrv/+packages

[2016-01-04 16:49] geekycow commented on #51
That fits, this was on Trusty not Willy or Vivid.  Sorry.

[2016-01-04 21:30] mainmachine commented on #52
I would expect you'd have to use escape before *each* whitespace, as in:

...=--device-name="Xbox\ 360\ Wireless\ Receiver\ \(XBOX\)"

I can't test this at the moment - could someone else test it...?

[2016-01-04 21:36] geekycow commented on #52
I believe that's one of the many combinations I tried (including numbered version of the escape code for space, to avoid using a real space after all.)

[2016-01-04 21:54] mainmachine commented on #52
what does your uxvars looks like with any of the above lines you tried?

```cat usr/share/ubuntu-xboxdrv/uxvars```

[2016-01-04 22:21] mainmachine commented on #52
I think I might have the solution, and it looks like a systemd whitespace handling issue. I've updated my fork to look like this:
```${XBOXDRV_OPTIONS} ${PAD_OPTIONS}```
The brackets will cause systemd to parse whitespace properly.

I won't be able to test this until this weekend, but if you'd like to try it you can clone my fork and try it: https://github.com/mainmachine/ubuntu_xboxdrv

[2016-01-04 22:26] geekycow commented on #52
I looked up what I could on Systemd variable parsing and already tried exactly that before I submitted the bug report.  :(  I spent a good few hours going slowly insane trying to find a work around.  :(

[2016-01-04 22:37] mainmachine commented on #52
hmmm... just read your other issue report - you're on Trusty?

IIRC Trusty uses Upstart by default; It'll only use Systemd if you set it to do that - are you actually using Systemd? If not then we should look at the /etc/init/xboxdrv.conf and how those *_OPTIONS are handled there...

[2016-01-04 23:30] geekycow commented on #52
Doh!  Of course, you're right.  I can't tell you what an idiot I feel for blaming systemd now.  ;)  In my defence it's because I'm on 15.10 on my main box and on jessie on my Pi (which is systemd too.)

From my heart:  sorry!  :)

This Trusty box is "relatively" unhackedaboutwith, so I wouldn't have moved to systemd.  So can't be systemd'isms then!

Tomorrow in the morning I can reinstall the pack

[2016-01-05 00:45] mainmachine commented on #52
Heh, don't beat yourself up too much for it! :wink:

I typically run 14.04 (or current LTS) on servers and 15.10 (or latest) on desktop machines. Aside from systemd, the only major difference that I've had to keep an eye on is Kernel updates.

I'll update the Upstart service to use the bracketed variables. It shouldn't break anything, and might fix the problem you reported.

[2016-01-13 17:07] raelgc commented on #51
@geekycow Sorry for the delay. Fix published for Trusty! Let me know if it works!

[2016-01-13 17:07] #51 closed

[2016-01-13 19:51] raelgc commented on #52
Hi @mainmachine, thanks for all help here!

And I like your improvements in your fork to support blank spaces and quotes.

Do you mind to create a pull request to send back your improvements and fix this issue on systemd?

[2016-01-13 20:05] raelgc commented on #44
So, I'll set `TRIGGER_AS_BUTTON` to `false` by default.

[2016-01-13 21:36] mainmachine commented on #52
I haven't had a chance to test it yet, but if you (or someone else) have done so (or if you're willing to roll the dice ;) ), then certainly!

I am fairly certain that at a bare minimum it won't break anything, and I'm hoping it might resolve some issues I've been seeing in some games with my wireless xbox360 pads.

[2016-01-19 17:43] mainmachine commented on #52
I was able to test my changes, and unfortunately systemd does not like this:

[code]

It will appear to work, but if you do a
[code]
It complains about not understanding one of the options. Sorry about the lack of detail, but I'm going from memory. Suffice it to say it needs a little more work. :/

[2016-01-19 19:33] raelgc commented on #52
Thank you for all testing and feedback, @mainmachine!

[2016-01-20 11:46] geekycow commented on #52
Sorry for delay, guys.

I also tried ${VARIABLE} on a non-systemd system when I was trying to this to work and it also didn't help the problem, sorry.

I still think the right way to do this would be using a regular xboxdrv config file but I suspect that would break compatibility with installations already out there. :(

xxx

[2016-01-22 21:59] atomsk81 opened #53 "wireless controller not calibrating"
xbox wireless controller not responding, I can see the 4 controllers in control pane but none records any short of input from the controller. The joystic appears to be paired with the wireless adapter although the green light is blinking in 2 different sequences. Additionally when the xboxdrv service is started kodi seems to be stuck on the left side of the menu as if the controller is not calibra

[2016-01-22 22:56] mainmachine commented on #53
if the LED on the controller is blinking, it isn't connected. With the default /etc/default/xboxdrv configuration, one of the four LEDs will be on, solid, when you have the gamepad connected to the receiver.

I found that I had to disable joystick support in KODI, or set
[code]
to prevent that "stuck" behavior. It's got something to do with the triggers being treated as an axis or something...

[2016-01-22 22:58] mainmachine commented on #53
Have you rebooted since you installed this? IIRC you either need to reboot or do
[code]
to remove the xpad kernel driver, which conflicts with the xboxdrv/ubuntu-xboxdrv driver.
@raelgc - does that look correct to you?

[2016-01-22 23:57] raelgc commented on #53
If I correctly remember, `xpad` is unloaded and blacklisted during `ubuntu-xboxdrv` package (and I can allow it again running `sudo apt-get purge ubuntu-xboxdrv`).

@mainmachine Do you mind to put a info about KODI section in the README file?

[2016-01-23 08:09] atomsk81 commented on #53
thanks for you reply mainmachine, MIMIC_XPAD=false did the trick. Joystic is working in jstest-gtk and it is no longer stuck in kodi. However it's working fine in Steam but not in Kodi now , even if it is enabled. Strange thing is that the green light becomes solid for some time but then starts blinking again in circles, then it becomes solid again and so on.

xpad is not in my system at all so no

[2016-01-23 09:48] raelgc commented on #53
@atomsk81 Can you try put `TRIGGERS_AS_BUTTONS` to `false`?

[2016-01-23 11:44] atomsk81 commented on #53
@raelgc  tried that, still not working in Kodi (with controller enabled or disabled)

[2016-01-26 14:59] mainmachine commented on #53
@raelgc Sure, please do add the bit regarding the Kodi conflict.

Regarding operation in Steam vs. Kodi - I've had a similar experience using my wireless 360 gamepads. Some games seem to recognize that I've got a wireless 360 controller, and will use their own mapping, possibly for a *wired* 360 controller which ends up reverting the triggers to an axis. The result of this (as with Kodi) is that t

[2016-01-26 15:00] mainmachine commented on #53
I wish Steam would somehow extend the Steam Controller configuration to support ALL controllers, as that works AMAZINGLY well. Being able to drop to the Steam overlay and remap on the fly is incredibly useful...

[2016-05-26 01:59] mysticjoker commented on #11
This just a little different. I have keyboard and mouse and trying to get my ps3 controller working. Done it in past plenty of times. But I notice back then I had my keyboard and mouse were usb. Now I have both bluetooth. Is their a way to get Ubuntu to recognize my controller by USB?

[2016-06-13 01:10] trayo opened #54 "Can't seem to install on Ubuntu 14.04. Getting `unknown job xboxdrv`"
Hello, hopefully someone can help me with a little installation issue. This is on Ubuntu 14.04. I have tried purging `ubuntu-xboxdrv` and `xboxdrv`. I've restarted after every step and ran `sudo rmmod xpad`, only to get `Module xpad is not currently loaded`. In addition the joysticks section in my system settings is blank. Using one controller seems to work fine in Big Picture Mode, but the Xbox r

[2016-06-13 10:35] raelgc commented on #54
What happens when you run:

    sudo service xboxdrv start

[2016-06-13 23:38] trayo commented on #54
@raelgc I get `start: Unknown job: xboxdrv`

[2016-06-14 16:35] mainmachine commented on #54
[code]
looks like the ubuntu-xboxdrv package didn't even install properly. Try this:
[code]
Aptitude is really good for mitigating conflicts of different packages. It should offer you options, consecutively, for ways you can resolve any issues with package installation.

[2016-06-21 00:37] trayo commented on #54
@mainmachine Doing `sudo aptitude install` gave me back the same error. It still doesn't seem to find the job. I tried this as well on a fresh installation and ran into the same error.

[2016-06-21 01:46] raelgc commented on #54
@trayo Are you running inside a Chromebook or something like Crouton?

[2016-06-21 02:35] trayo commented on #54
@raelgc Yeah, it's a chromebook pixel

[2016-06-21 02:39] mainmachine commented on #54
So this is 14.04 running inside a VM on a Chromebook????

[2016-06-21 02:41] trayo commented on #54
@mainmachine I'm using Crouton on it. Does it not work with Crouton? I saw somewhere online that it would work okay. I can at least get a controller to work inside of Steam, but wanted to download a few non-Steam games.

[2016-06-21 10:29] raelgc commented on #54
For some reason, upstart services do not work on Crouton out of the box.

[2016-06-23 00:25] deepaksjcecs opened #55 "Unable to add PPA"
Hi !!

I am following the instruction provided here in the README page.
I am unable to add the PPA specified here. Is it still active yet?

deepak@deepak-VirtualBox:~/xbox/debian$ sudo apt-add-repository -y ppa:rael-gc/ubuntu-xboxdrv
Cannot add PPA: 'ppa:rael-gc/ubuntu-xboxdrv'.
Please check that the PPA name or format is correct.

I am using 14.04 Ubuntu system. Any help will be greatly appreciat

[2016-06-23 10:21] raelgc commented on #55
Yes, it's: https://launchpad.net/~rael-gc/+archive/ubuntu/ubuntu-xboxdrv/

You'll be able to see packages for Trusty: https://launchpad.net/~rael-gc/+archive/ubuntu/ubuntu-xboxdrv/+packages.

[2016-06-23 10:21] #55 closed

[2016-11-03 19:18] marchandrs opened #56 "Unable to locate package ubuntu-xboxdrv"
I'm on Ubuntu 16.10 64bits.
Added the ppa and ran: sudo apt-get install ubuntu-xboxdrv

got this:
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package ubuntu-xboxdrv

[2016-11-03 19:44] raelgc commented on #56
Hi @marchandrs and thank you for raising this issue.

I just build a package for Yakkety. Can you please try now?

[2016-11-03 19:44] #56 closed

[2016-11-30 14:22] borgymanotoy opened #57 "Failed to start xboxdrv.service: Unit xboxdrv.service not found."
This maybe a basic error... but I do not know how I could make it work.

I get this when I run sudo apt-get install ubuntu-xboxdrv

Below is the error message I get.

borgy@windows:~$ sudo apt-get install ubuntu-xboxdrv
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  gir1.2-rb

[2016-11-30 15:02] raelgc commented on #57
Hi @borgymanotoy and thanks for raising this issue.

Which Ubuntu version are you using? And, additionally, are you running Ubuntu directly or using any other underlying system?

[2016-12-01 19:18] mainmachine commented on #57
Ah, I see it. In the postinst script you're trying to ```systemctl start``` before ```systemctl enable```

I need to sync my fork with your master before I can make a pull request, but it's an easy fix - just swap the order of those two commands.

[2016-12-01 19:28] raelgc commented on #57
@mainmachine I just added you as a collaborator in this repo.

[2016-12-01 19:40] mainmachine commented on #57
@raelgc - well thank you very much. :)

I must admit, I don't know how much control that gives me - can we discuss this in more detail offline?

[2016-12-01 19:42] raelgc commented on #57
You have permission to push to the repo. But, please, let's proceed with the typical GitHub flow: clone, create a branch with name `57-fixing-service`, commit and push to `origin`, open a PR.

[2016-12-01 19:45] mainmachine commented on #57
Ah, oops. I've already abused my power by pushing a commit. :(

Sorry! I'll do it as you suggest. I need to learn more about proper contributor etiquette.

[2016-12-01 19:48] raelgc commented on #57
@mainmachine no problem! Thank you for the fixing! I'll publish a new Ubuntu package in the next days.

[2016-12-01 19:51] mainmachine commented on #57
Excellent, and I'll read up on proper git collaboration practices. :D

@borgymanotoy - this should be fixed in the ppa soon!

[2016-12-01 20:12] raelgc commented on #57
Ok, I just got some free time and published for all `systemd` releases of Ubuntu. Please @borgymanotoy, upgrade and let us know if it's working!

[2016-12-16 22:04] Danfun64 opened #58 "Too many controllers open?"
I know this technically isn't an "Issue", but I don't where where else to ask.

The way you set up ubuntu_xboxdrv causes all four xinput spots to be taken. I have two wireless xbox 360 controllers and one (wired) Logitech 310. The way things are set up, I have to choose between the two controllers, or the one wired controller. Not to mention a Wii classic controller that needs xboxdrv for certain

[2016-12-17 11:08] raelgc commented on #58
Hi @Danfun64.

You can edit `/etc/default/xboxdrv` to edit all the entries individually.

[2017-02-08 14:29] seecolinslash opened #59 "Editing Default Button Mapping In Joystick Preferences Prevents Steam From Loading Properly"
I'm trying to use a wired Xbox 360 Controller "For Windows" (i.e. the PC version of the Xbox 360 controller), as it is the only Xbox 360 or Xbox One controller I've managed to get operational under Ubuntu 16.04.

Thanks to your ppa, I was able to get it working with Steam and Rocket League. However, the right thumbstick's axes were opposite what they should be in the game, so I tried editing the t

[2017-02-15 21:03] mainmachine commented on #59
Honestly, I would try with the xboxdrv service disabled - Valve recently updated their support for lots of different controllers in the Steam Client itself. For games launched fromSteam you may find that you don't need the xboxdrv driver running at all - in fact its' possible that having both running at the same time could cause conflicts.

Are you on the Steam Beta Client, or the mainstream one?

[2017-02-15 23:56] seecolinslash commented on #59
Thanks for the response!

I'm using the Steam's stable channel at the moment. I installed xboxdrv
because Steam wouldn't recognize my controllers at all.

However, since updating Mesa to version 12.0.6 yesterday the button mapping
issues have disappeared entirely and everything is working flawlessly.

I'll keep your advice in mind should the problem crop up again, but for now
I won't try to fix wh

[2017-02-17 22:35] mainmachine commented on #59
Awesome, glad it's working now, although I'm not sure how a Mesa update would do it. :)

[2017-02-17 22:35] #59 closed, assigned to nobody

[2017-07-22 14:02] pablopenna opened #60 "Edit launch options"
Is there any way I can change the launch options which are used when initializing the driver on startup?

[2017-07-22 14:16] pablopenna commented on #60
the default ones are
`/usr/bin/xboxdrv --daemon --silent --pid-file /var/run/xboxdrv.pid --dbus disabled --mimic-xpad --mimic-xpad-wireless --detach-kernel-driver --next-controller --mimic-xpad --mimic-xpad-wireless --detach-kernel-driver --next-controller --mimic-xpad --mimic-xpad-wireless --detach-kernel-driver --next-controller --mimic-xpad --mimic-xpad-wireless --detach-kernel-driver`

[2017-07-22 20:18] raelgc commented on #60
Hi @pablopenna. Yes, you can edit `/etc/default/xboxdrv`.

[2017-07-23 09:36] pablopenna commented on #60
Thank you very much

[2017-07-23 09:36] #60 closed, assigned to nobody

[2017-11-03 01:09] spatefl commented on #57
I have version 17.10. I have a xbox one wired controller. I am trying to enable the xboxdvr.service but it says it does not exist. Im lost. PLease Help! Thank you!                                                                                             sudo apt install xboxdvr
[sudo] password for stephen:
Sorry, try again.
[sudo] password for stephen:
Reading package lists... Done
Building depe

[2017-11-03 12:23] raelgc commented on #57
Hi @spatefl. The package was not published in 17.10. I just fired the package building in the PPA. In few minutes it'll be available. Sorry for the inconvenience.

[2017-11-03 12:23] #57 closed

[2018-01-16 00:48] ISharkI opened #61 "Controller doesn't connect anymore after resuming"
Hello

I experience a problem with the current Ubuntu 17.10 when entering suspend.

Xboxdrv works when booting (as expected) but when I enter suspend the controller disconnects (starts blinking) and can't reconnect after resuming - even if I verify via ps that xboxdrv is running.

Syslog gives me
[code]

And the controller doesn't seem to find anything and continues blinking...

Does this mean it'

[2018-02-03 18:12] Boerenmotor opened #62 "controller not usable"
After install on Mate 16.04 jstest-gtk gives me 4 controllers (only 1 plugged in) and I'm unable to configure a single one. Also I'm not seeing the joystock panel in the control center? Any suggestions?

[2018-02-06 09:35] Murplugg commented on #62
I confirm this to happen here as well. Ubuntu 16.04 LTS.

[2018-02-06 10:54] raelgc commented on #62
The 4 joystick slots appearing is expected.

Probably the missing joystick entry in panel is a bug.

You can edit `/etc/default/xboxdrv` and add more configurations to `xboxdrv`. To see a list of available configurations, please, check `xboxdrv` [options page](http://pingus.seul.org/~grumbel/xboxdrv/xboxdrv.html).

[2018-02-11 10:47] AdamKane41 opened #63 "PPA for Ubuntu 18.04 (Bionic Beaver)"
Could you update the PPA on "launchpad.net" to make it available for version 18.04 of Ubuntu (Bionic Beaver)? ...pretty please ;-p

Thanks!

[2018-02-11 13:58] raelgc commented on #63
Done! Thank you for the reminder!

[2018-02-11 13:58] #63 closed, assigned to nobody

[2018-05-04 12:57] raelgc commented on #2
Closed by https://github.com/Grumbel/jstest-gtk/commit/0860e312342fca6a8e462b94a946f24d74fb4a99

[2018-05-04 12:57] #2 closed

[2018-08-31 07:14] monkeyfortstudios opened #64 "Wireless xbox 360 controllers won't connect to adaptor (18.04)"
Hi,

I'm having no luck getting wireless 360 controllers to connect to the attached adaptor. This is on a fresh install of Xubuntu 18.04.1
I do have xboxdrv working on other systems with the same controllers / adaptor (One is 16.04 and other is 18.04 updated from 17.10).

Sorry if this is a duplicate of [Issue53](https://github.com/raelgc/ubuntu_xboxdrv/issues/53) but I tried disabling mimicking x

[2018-10-14 13:11] multimeric opened #65 "Config file should be the same format as xboxdrv"
It seems that the ubuntu_xboxdrv config file ([this one](https://github.com/raelgc/ubuntu_xboxdrv/blob/master/src/etc/default/xboxdrv)) is a custom format, that lets you specify `FORCE_FEEDBACK`, `TRIGGER_AS_BUTTON`, and `MIMIC_XPAD`. However, if you want to use any option other than these 3, you have to specify it as an `xboxdrv` flag, e.g. `XBOXDRV_OPTIONS="--dpad-as-button"`.

I don't think it

[2018-12-22 18:14] clbarnes opened #66 "Release for 18.10 "Cosmic Cuttlefish""
Great project, would love to see it for the most recent ubuntu!

[2018-12-23 09:51] raelgc commented on #66
Hi @clbarnes! Sorry for that! I just published the package for Cosmic in the PPA!

[2018-12-24 18:57] clbarnes commented on #66
Wonderful, thank you so much!

[2019-01-19 05:02] GrantDare opened #67 "/dev/input/js* devices not being destroyed on disconnect"
Given that I have one controller connected and unplug it, then reconnect it, it creates a new /dev/input/js and so it then becomes player 2. Is this a package bug or a config I don't have set? Could you please assist in directing me to solving this issue?

If i unplug and replug up to player 4 _ls /dev/input | grep js_ returns;
`js0 js1 js2 js3`

Just discovered this could be due to events, but st

[2019-02-01 00:28] massatt212 opened #68 "4 Controllers always showing"
if their a way to disable controllers until they are plugged in ?

[2019-02-01 11:43] #66 closed, assigned to nobody

[2019-02-01 11:47] raelgc commented on #68
@massatt212 Well, I know it's a weird behavior, but this service is starting xboxdrv with the possibility of 4 gamepads getting connected. The alternative would be create a dbus listener and then start a xboxdrv for each controller connected.

[2019-02-01 11:48] raelgc commented on #68
Something similar was tried in #37 by @gyates100895.

[2019-04-07 18:46] ITCMD opened #69 "Failed to enable unit: Unit file xboxdrv.service does not exist."
Similar to issue #57 I cannot enable the service with systemctl. I tried installing it and running the command, and when that did not work I tried to download the file and run it, but it says the file still does not exist.

**Install and first try:**
[code]
**After downloading the file as recommended [here](https://askubuntu.com/questions/617569/ubuntu15-04-installation-xboxdrv-error-with-xboxdrv-

[2019-04-07 18:50] ITCMD commented on #69
lol 69

[2019-04-07 21:22] mainmachine commented on #69
You are installing the plain old xboxdrv, while this repo is for ubuntu-xboxdrv. You need to add the PPA to get the one that this issue tracker refers to.

From the [README.md](https://github.com/raelgc/ubuntu_xboxdrv) on the project page here:

sudo apt-add-repository -y ppa:rael-gc/ubuntu-xboxdrv
sudo apt-get update
sudo apt-get install ubuntu-xboxdrv

The services are started automatically on i

[2019-07-19 23:55] BurninTurtles commented on #68
#37 is quite old, written for Upstart. I have a repo for a systemd version that does the same behavior as #37 however I haven't maintained it since roughly 16.10(?). Check it out, it worked for me back then but it's definitely not good for a release.
https://github.com/gyates100895/systemd-xboxdrv

[2019-08-23 20:34] domeniko-gentner opened #70 "Does not work on Ubuntu disco 64bit"
[code]
I have tried different approaches, also adding other repositories, apt cannot find the correct package. I have installed it manually, but would be nice if it could work out of the box.
edit: Manual installation didn't work, Ubuntu is rolling it back, no idea why.

[2019-08-23 23:32] raelgc commented on #70
Hi @scorcher24 and sorry for the inconvenience. I'm just fired a build for Disco and it's now available to install. Do you mind to try install again?

[2019-08-25 06:58] domeniko-gentner commented on #70
Installs now. Thanks a lot :)

[2019-08-25 21:26] #70 closed, assigned to nobody

[2019-11-10 23:48] lexterror opened #71 "can't download driver for Kubuntu 19.10"
It says it does not have a release file yet

Could you please send me a link?

Thank you!

[2019-11-11 12:53] raelgc commented on #71
I just published for latest Ubuntu releases. Please try again.

[2019-11-11 12:53] #71 closed, assigned to nobody

[2021-01-08 13:32] darkporpoise opened #72 "Uninstall should un-blacklist xpad"
As I understand it, during install, `/etc/modprobe.d/xboxdrv.conf` is created in order to blacklist `xpad` kernel module to avoid conflicts.

When uninstalling, that file should really get removed so that the user still has a working driver. I understand that they can `sudo apt-get purge ubuntu-xboxdrv` to resolve the issue but that seems overkill and not obvious.

This has taken hours for me to t

[2021-10-19 00:31] ftzi opened #73 "ubuntu impish Release' does not have a Release file."
E: The repository 'http://ppa.launchpad.net/rael-gc/ubuntu-xboxdrv/ubuntu impish Release' does not have a Release file.

[2021-10-19 10:48] raelgc commented on #73
Hi @SrBrahma and thanks for raising this issue. Really sorry, I just published for the missing releases.

[2021-10-25 15:54] ftzi commented on #73
Thanks!

[2021-10-25 15:54] #73 closed, assigned to nobody

[2021-12-03 23:23] pietropier1 commented on #68
Hi,

I'm trying to solve the same problem. On my system I only use one joystick and would like to predictably know where to find it. I tried removing all the `--next-controller` flags from the `/lib/systemd/system/xboxdrv.service`. As a result, I do get only one device option instead of 4, i.e. `/dev/input/js0`, but it looks like sometimes the joystick although plugged in is not mapped there.

Tha

[2022-10-24 15:09] mainmachine commented on #72
@darkporpoise it has been quite a while, but this should be fixed simply with #74 which I have not tested but we're talking a VERY simple change here

[2022-10-24 15:51] #72 closed, assigned to nobody

[2022-10-24 18:26] mainmachine commented on #69
Closing as this has been explained for quite some time

[2022-10-24 18:26] #69 closed, assigned to nobody